.code-wrapper {
    background-color: var(--s-theme-code);
    border-radius: 14px;
    overflow: hidden;

    .ul-codes {
        width: 100%;
        background-color: var(--s-theme-code2);
        border-radius: 14px 14px 0 0;

        ul {
            margin: 0;
            display: flex;
            justify-content: center;
            flex-direction: row;
            color: #fff;

            padding: 0;

            li {
                font-size: 12px;
                padding: 10px;
                opacity: .4;
                cursor: pointer;
                position: relative;
                list-style: none;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                    height: 2px;
                    width: 0;
                    background: #fff;
                    transition: all .25s ease;
                }

                &:hover {
                    opacity: 1;
                }

                &.lang-active {
                    opacity: 1;

                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }


    .doc-section-code {
        transition: height .25s ease;
        overflow: hidden;
    }

    .code-footer {
        width: 100%;
        background-color: var(--s-theme-code2);
        border-radius: 0 0 14px 14px;
        padding: 6px;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &:hover {
            i {
                opacity: .4;
            }
        }

        i {
            width: 16px;
            height: 16px;
            color: var(--s-theme-layout)
        }
    }
}